sentence-transformers==2.2.2
langchain>=0.0.239
flask==2.2.3
pypdf==3.8.1
python-dotenv==1.0.0
pinecone-client>=3,<4
langchain-pinecone==0.0.3
langchain-community==0.0.11
langchain-openai==0.0.8
langchain-experimental==0.0.5
streamlit==1.30.0
rich==13.9.4
markdown-it-py==3.0.0
pygments==2.19.1
mdurl==0.1.2
-e .
