sentence-transformers==2.2.2
python-dotenv==1.0.0
langchain-community==0.0.11
streamlit==1.30.0
streamlit==1.25.0
openai==0.11.0
pinecone-client==2.2.1
pypdf==3.8.1
langchain==0.3.9
langchain-openai==0.3.9
langchain-pinecone==0.3.9
-e .
